.header {
	height: 60px;
}

.header .plasmamenu_box {
	display: table;
	text-align: left;
	margin: 0 auto;
	text-shadow: #fff 0px 0px 3px; 
	float: left; 
	margin-left: 12px;
	width: 840px;
	z-index: 95;
}

.header .plasmamenu_box a {
	text-decoration: none; 
	margin: 0px 10px;
}

.header .plasmamenu_box h2 {
	color: #555; 
	font-size: 14px; 
	font-weight: normal; 
	padding-left: 10px; 
	text-transform: uppercase;
	margin-left: 10px;
	cursor: pointer;
}

.header .plasmamenu_box div {
	float: left;
	margin-left: 35px;
}

.header .plasmamenu_box div:hover div.plasmamenu_box_submenu {
	display: block;
}

.header .plasmamenu_box_submenu {
	display: none;
}

.header .plasmamenu_box div div br {
	margin-top: -4px;
}

.header .plasmamenu_box div div {
	width: 180px;
	margin-left: 0px;
}

.header .plasmamenu_box  div div div div ul li { 
	width: 160px;
	line-height: 26px;
	padding-left: 10px;
	display: block;
}

.header .plasmamenu_box  div div div div ul li div div ul li { 
	display: block;
}

.header .plasmamenu_box  div div div div ul li:hover { 
	background-image: url('../images/plasmaMenu/menubox_sel.png');
	background-repeat: no-repeat;
	background-position: 12px 2px;
}

.header .plasmamenu_box  div div div div ul li a,
.header .plasmamenu_box  div div div div ul li div div ul li a { 
	color: #444;
	text-shadow: #ffffff 1px 1px 1px;
	font-size: 13px;
	vertical-align: top;
	display: block;
}

.header .plasmamenu_box  div div div div ul li h3 { 
	color: #444;
	text-shadow: #ffffff 1px 1px 1px;
	font-size: 13px; 
	font-weight: normal;
	width: 165px;
	display: inline;
}

.menubox_subarr {
	position: absolute;
	left: 155px;
	margin-top: -18px;
}

.menubox_subhover:hover .menubox_subparent { 
	display: block;
}

.menubox_subparent {
	display: none;
	position: absolute;
	left: 173px;
	margin-top: -38px;
	z-index: 100;
}

.menubox_sep {
	margin-left: 20px;
}

.menubox_icon {
	width: 16px;
	height: 16px;
	margin-left: 8px;
	margin-top: 4px;
	position: absolute;
}

.menubox_space {
	padding-left: 18px;
}

.menubox_top {
	background-image: url('../images/plasmaMenu/menubox_top.png');
	background-repeat: no-repeat;
	width: 180px;
	height: 12px;
	position: relative;
}

.menubox_bottom {
	background-image: url('../images/plasmaMenu/menubox_bottom.png');
	background-repeat: no-repeat;
	width: 180px;
	height: 14px;
	position: relative;
}

.menubox_body {
	background-image: url('../images/plasmaMenu/menubox_body.png');
	background-repeat: repeat-y;
	width: 180px;
	padding-left: 0px;
	position: relative;
	white-space: nowrap;
}
