<header class="site-header">
  <div class="header">
      <nav class="plasmamenu_box">
        <input id="menu-trigger" name="menu-trigger" type="checkbox" />
        <label for="menu-trigger">
          <img alt="" src="{{ '/images/burger.svg' | prepend: site.baseurl }}" height="20" width="20"/>
        </label>
        <ul>
            <li>
              <a href="{{ "/" | prepend: site.baseurl }}">
                <h2 id="nav1">
                  首頁
                </h2>
              </a>
            </li>
            <li>
              <a href="{{ "/news" | prepend: site.baseurl }}">
                <h2 id="nav2">
                  最新消息
                </h2>
              </a>
            </li>
            <li>
              <a href="{{ "/getting-started" | prepend: site.baseurl }}">
                <h2 id="nav3">
                  新手上路
                </h2>
              </a>
            </li>
            <li>
              <a href="{{ "/community" | prepend: site.baseurl }}">
                <h2 id="nav4">
                  線上社群
                </h2>
              </a>
            </li>
            <li>
              <a href="{{ "/join-us" | prepend: site.baseurl }}">
                <h2 id="nav5">
                  加入我們
                </h2>
              </a>
            </li>
        </ul>
      </nav>
  </div>
</header>
<div class="container txt-center">
  {% if page.id %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  {% elsif page.bodyclass == 'page' %}
    <h1 class="post-title">{{ page.title }}</h1>
    {% include search.html %}
  {% else %}
    <h1>歡迎光臨 {{ site.name }}</h1>
  {% endif %}
</div>
