
$icon-font-family: 'FontAwesome';

$icon-category: "\f07c";
$icon-tags: "\f02c";
$icon-comments: "\f086";
$icon-comment-o: "\f0e6";
$icon-comments-o: "\f0e5";
$icon-search: "\f002";
$icon-star-o: "\f006";
$icon-heart: "\f004";
$icon-share: "\f064";
$icon-facebook: "\f09a";
$icon-facebook-rounded: "\f082";
$icon-twitter: "\f099";
$icon-twitter-rounded: "\f081";
$icon-feed: "\f09e";
$icon-github: "\f09b";

@font-face {
  font-family: $icon-font-family;
  src: url('#{$icon-font-family}.eot?pfzr1n');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category:before { content: $icon-category; }
.icon-tags:before { content: $icon-tags; }
.icon-comments:before { content: $icon-comments; }
.icon-comments-o:before { content: $icon-comments-o; }
.icon-comment-o:before { content: $icon-comment-o; }
.icon-search:before { content: $icon-search; }
.icon-star-o:before { content: $icon-star-o; }
.icon-heart:before { content: $icon-heart; }
.icon-share:before { content: $icon-share; }
.icon-facebook:before { content: $icon-facebook; }
.icon-facebook-rounded:before { content: $icon-facebook-rounded; }
.icon-twitter:before { content: $icon-twitter; }
.icon-twitter-rounded:before { content: $icon-twitter-rounded; }
.icon-feed:before { content: $icon-feed; }
.icon-github:before { content: $icon-github; }

